body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#cajamain{
    display: grid;
    grid-template-areas: '' '';
    background-color: lightgrey;
    text-align: center;
    line-height: 150px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border: dotted 1px;
    box-sizing: border-box;
    height: auto;
}
header{
    background-color: cyan;
    border: solid 4px;
    grid-area: 1;
}
nav{
    background-color: beige;
    border: solid 4px;

}
#content{
    background-color: rgb(231, 111, 67);
    border: solid 4px;
    grid-area: 2;
}
#banner{
    background-color: rgb(20, 161, 161);
    border: solid 4px;
    grid-area: 3;
}
footer{
    background-color: gray;
    border: solid 4px;
    grid-area: 4;
}
