body{
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#cajamain{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightgrey;
    text-align: center;
    line-height: 150px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border: dotted 1px;
    box-sizing: border-box;
    height: auto;
}
header{
    background-color: cyan;
    border: solid 4px;
    grid-column: 1 / 4;
}
menu{
    background-color: beige;
    border: solid 4px;
    grid-column: 1 / 4;
}
